body {
background-image: url(background\ image.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment:fixed ;
background-position: center;
object-fit: cover;
color: white;
}
td {
  border: 1px solid darkblue;
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 30px;
}
input {
  border: none;
}
table {
  border: 1px solid darkblue;
  border-radius: 7px;
  padding: 5px;
  margin: auto;
  background-color: rgb(81, 81, 233);
  box-shadow: 10px 10px 10px rgb(125, 109, 219);

}
h1 {
  text-align: center;
}